@import '/styles/variables';

// example page
.example {
  padding: 2rem;

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: $bold;
    margin: 3rem 0 1.5rem;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2.2rem;
  }
  a {
    display: block;
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
}
