@import '/styles/variables';

$menu: todo, report, mypage;

.menu {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: calc(5rem + env(safe-area-inset-bottom));
  padding-bottom: env(safe-area-inset-bottom);
  background-color: get-color(bg, default);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / length($menu));
  }

  &__image {
    width: 2.2rem;
    height: 2.2rem;
  }
}
